<header>
    <nav>
        <ul>
            <li><a href="{{ path('default_index') }}">Empresas</a></li>
            <li><a href="#">Sectores</a></li>
            {# {% if app.user %}   
                <li><a href="{{ path('app_logout') }}">Cerrar sesión</a></li>    
            {% endif %}      #}
        </ul>
    </nav>
</header>